<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/main.css">
    <title></title>
</head>
<body>
    <small class="history" id="history"></small>
    <main class="cal-main">
        <input class="result" type="text" name="reslut" id="result" disabled>
        <div class="num-pad">
            <button onclick="calculate('AC')">AC</button>
            <button onclick="calculate('9')">9</button>
            <button onclick="calculate('8')">8</button>
            <button onclick="calculate('7')">7</button>
            <button onclick="calculate('+')">+</button>

            <button onclick="calculate('6')">6</button>
            <button onclick="calculate('5')">5</button>
            <button onclick="calculate('4')">4</button>
            <button onclick="calculate('3')">3</button>
            <button onclick="calculate('-')">-</button>
            
            <button onclick="calculate('2')">2</button>
            <button onclick="calculate('1')">1</button>
            <button onclick="calculate('0')">0</button>
            <button onclick="calculate('=')">=</button>
            <button onclick="calculate('/')">/</button>
        </div>
    </main>
    <script src="../statics/js/main.js"></script>
</body>
</html>